{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }}contact{% endblock %}

{% block page_title %}Contact Gunshot Detection {% endblock %}

{% block content %}
<div class="container">
    <div class="page-header"><h1>Contact Us</h2></div>
    <div class="col-sm-6">
        <p> Fill out for return phone call </p>
        <form class="form" action="/contact" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-success" type="submit" value="Submit" />
        </form>
    </div>
    
    <div class="col-sm-3">
        <div class="list-group">
            <div class="list-group-item">
                    <h4 class="list-group-item-heading">Email</h2>
                <div class="list-group-item-text">
                    <a href="mailto:info@gunshots.com">info@gunshots.com</a>
                </div>
            </div>
            <div class="list-group-item">
                    <h4 class="list-group-item-heading">Email</h2>
                <div class="list-group-item-text">
                    <a href="mailto:info@gunshots.com">info@gunshots.com</a>
                </div>
            </div>
            <div class="list-group-item">
                    <h4 class="list-group-item-heading">Phone</h2>
                <div class="list-group-item-text">
                    <a href="tel:111.111.1111">111.111.1111</a>
                </div>
            </div>
            <div class="list-group-item">
                    <h4 class="list-group-item-heading">On the web</h2>
                <div class="list-group-item-text">
                    <a href="http://pinterest.com/hellomedia/">Pinterest</a>  | <a href="http://www.linkedin.com/in/margaretpenney">LinkedIn</a> | <a href="http://www.twitter.com/tweethellome">Twitter</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
